@font-face {
    font-family:'dzfont';
    src:url('./font/UnidreamLED.ttf');
}
@font-face {
    font-family:'pmzd';
    src:url('./font/pmzd.TTF');
}


@font-face {
    font-family:'sz';
    src:url('./font/LCD-BOLD-5.ttf');
}

